doctype html5

html
    head
        title Best MVC Framework for node.js - ifnode
        include styles
    body
        header
            section.header-logo
                a.header-logo__title(href="/") ifnode
            section.github
                a.github__link(href="https://github.com/ilfroloff/ifnode")
                    i.github__icon.ion-social-github
                    span.github__text Fork on GitHub
        main
            section.main-logo
                div.main-logo__image
                    pre.main-logo__image-block
                        |         ____  _________
                        |        /   / /        /
                        |       /   / /   _____/_    ___  _______    _____      ______
                        |      /   / /   /__  /  |  /  / /  ___  \  /     \    /  ___/
                        |     /   / /      / /   | /  / /  /  /  / /  / \  \  /  /_
                        |    /   / /   ___/ /  /||/  / /  /  /  / /  /  /  / /  __/
                        |   /   / /   /    /  / |   / /  /__/  / /  /__/  / /  /___
                        |  /   / /   /    /__/  |__/  \_______/  \_______/ /______/
                        | /___/ /___/
                div.main-logo__description Best MVC Framework for node.js :^)

            section.main-information Coming soon...

            //section.main-information
            //    div.title What is ifnode?
            //    div.description.
            //        You want create fast, flex
            include scripts
        footer
            div.copyright © 2015 ifnode
            div.social-link
                //a.social-link__twitter(href="#")
                //    i.social-link__icon.ion-social-twitter
                //    span.social-link__text Twitter
                a.social-link__github(href="https://github.com/ilfroloff/ifnode")
                    i.social-link__icon.ion-social-github
                    span.social-link__text GitHub